button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2c2c2c;
  cursor: pointer;
  transition:
    border-color 0.4s,
    background-color 0.1s;
}

button:hover {
  border-color: #946ccf;
}

button:active {
  background-color: #787878;
}
