:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;
  background: linear-gradient(135deg, #25272a 0%, #131f32 100%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 0.3s ease;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 8px;
}

h1 {
  font-size: clamp(2.5rem, 6vw, 3.2em);
  font-weight: 200;
  letter-spacing: 0.03em;
  line-height: 1.08;
  text-align: center;

  margin-bottom: 0.6em;
  background-clip: text;

  background: -webkit-linear-gradient(left, #afafaf, #afafaf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 0.975);
}

h1:hover {
  transform: scale(1.05);
}
