.info-about {
  background: rgba(128, 128, 128, 0.25);
  padding: 20px 40px 20px 40px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 40px;
  font-size: 1.2rem;
  backdrop-filter: blur(5px);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
  display: inline-block;
  align-items: center;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 0.975);
  cursor: pointer;
}

.info-about:hover {
  transform: scale(1.05);
}

.info-version {
  background: rgba(128, 128, 128, 0.25);
  position: fixed;
  right: -5px;
  bottom: -5px;
  padding: 12px 20px 40px 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 0.95rem;
  backdrop-filter: blur(5px);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
  display: inline-block;
  align-items: center;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 0.975);
  transform: translateY(calc(72%)) translateX(calc(100% - 40px));
  cursor: pointer;
}

.info-version:hover {
  transform: translateX(0);
}

.info-version::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 10px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
  animation: pulse 2.5s infinite;
}

.info-version::after {
  content: "i";
  position: absolute;
  left: 10px;
  top: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: rgba(155, 155, 155, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}
