.info-version {
  position: fixed;
  right: -10px;
  bottom: -20px;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 12px 20px 100px 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 0.95rem;
  backdrop-filter: blur(5px);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 0.975);
  transform: translateY(calc(50% + 10px)) translateX(calc(100% - 40px));
  cursor: pointer;
}

.info-version:hover {
  transform: translateX(0);
  background: rgba(30, 30, 40, 0.95);
}

.info-version::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 10px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
  animation: pulse 2.5s infinite;
}

.info-version::after {
  content: "i";
  position: absolute;
  left: 3%;
  top: 15%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}
