@import "./utils.css";

h1 {
  font-size: clamp(2.5rem, 6vw, 3.2em);
  line-height: 1.08;
  font-weight: var(--font-weight-light);
  letter-spacing: 0.03em;
  margin-bottom: 0.6em;
  text-align: center;
  cursor: pointer;
}

h1.main-title {
  @extend .text-gradient-header;
  @extend .hover-scale;
}
